In [3]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd
from pymongo import MongoClient

engine = db.create_engine('mysql://root:root@127.0.0.1:3310/retail_db')
conn = engine.connect()

connection_string = 'mongodb+srv://jctuesta7:XzSZO1nH0mcAdNkJ@cluster0.lfx8q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
client = MongoClient(connection_string)

In [2]:
departments_df = pd.read_sql_query('SELECT * FROM departments', con=conn)

departments_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [4]:
db_name = client['retail_db']